{% extends "layouts/cms.twig" %}

{% block subtitle "Logowanie" %}

{% block body %}
  <section id="content" class="wrapper wrapper-login" role="main">
    <header class="header header-page cf">
      <h1 class="heading heading-page">{{ settings.project_name }} <em>CMS</em></h1>
    </header>

    <hr>

    {{ flashes|raw }}

    {% if request.method == "POST" %}
      <div class="message message-error message-centered">
        <p>Podane hasło jest błędne.</p>
      </div>
    {% endif %}

    {% form.open current_uri, {"class":"form", "novalidate":"novalidate"} %}

      <fieldset class="fields fields-plain">
        <div class="field">
          {% form.label "form-username", "Login", {"class":"label"} %}
          {% form.input "username", request.post("username"), {"id":"form-username", "class":"medium"} %}
        </div>
        <div class="field">
          {% form.label "form-password", "Hasło", {"class":"label"} %}
          {% form.password "password", request.post("password"), {"id":"form-password", "class":"medium"} %}
          <p class="hint block"><a href="{% url "cms-password-forgot", {} %}">Nie pamiętasz hasła?</a></p>
        </div>
        <div class="field field-plain">
          <label for="form-remember">
            {% form.checkbox "remember", 1, request.post("remember"), {"id":"form-remember"} %}
            Zapamiętaj mnie
          </label>
        </div>
      </fieldset>

      <fieldset class="buttons">
        <p class="right">
          <a href="{% url "site-index", {} %}">&larr; Wróć na stronę</a> jeśli trafiłeś tu przez przypadek
        </p>
        <button class="button button-positive button-main left">Zaloguj</button>
      </fieldset>
    {% form.close {} %}
  </section>
{% endblock %}