<!DOCTYPE html>
<html lang="{% block language %}en{% endblock %}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
  </head>
  {% block body %}{% endblock %}
</html>