<!DOCTYPE html>
<html lang="{% block language %}{{ lang.code|default("en") }}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
  </head>
  {% block body %}{% endblock %}
</html>