{% macro selected_if(request, controllers, actions) %}
  {% if controllers|length == 0 or request.controller in controllers %}
    {% if actions|length == 0 or request.action in actions %}
      selected
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro lang_tabs(langs, id) %}
  {% if not id|length %}
    {% set id = 1 %}
  {% endif %}
  {% if langs|length > 1 %}
    <div class="i18n-tabs">
      {% for lang in langs %}
        <label for="{{ "tab-lang-"~lang.code~"-"~id }}">
          {% form.radio "lang"~"-"~id, lang.code, false, {"id":"tab-lang-"~lang.code~"-"~id} %}
          {{ lang.name }}
        </label>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}